body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 100%;
}

/* Images auto-scale */
img {
  max-width: 100%;
  height: auto;
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

/* Small Tablets / Large Phones */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Phones */
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}
